language: go

go:
  - 1.7

services:
  - redis

install:
  - make dependencies

script:
  - make stat

after_success:
  # upload binary to binder
  - curl -i --form sec=$BINDER_SEC --form file=@`ls bin/bitnuke*` --form path=bitnuke/ https://cryo.unixvoid.com/upload
  - curl -i --form sec=$BINDER_SEC --form file=@`ls bin/bitnuke*` --form filename=bitnuke-latest-linux-amd64 --form path=bitnuke/ https://cryo.unixvoid.com/upload
  # pull unixvoid gpg keys
  - curl -d sec=$BINDER_SEC -d key=unixvoid.pub https://cryo.unixvoid.com/getfile --output unixvoid.pub
  - curl -d sec=$BINDER_SEC -d key=unixvoid.sec https://cryo.unixvoid.com/getfile --output unixvoid.sec
  # sign build and sign aci
  - make clean build_travis_aci
  - mv bitnuke-api.aci bitnuke-api-latest-linux-amd64.aci
  - cp deps/sign.sh . && chmod +x sign.sh
  - ./sign.sh $GPG_SEC
  # upload bitnuke aci image
  - curl -i --form sec=$BINDER_SEC --form file=@bitnuke-latest-linux-amd64.aci --form path=rkt/bitnuke/ https://cryo.unixvoid.com/upload
  - curl -i --form sec=$BINDER_SEC --form file=@bitnuke-latest-linux-amd64.aci.asc --form path=rkt/bitnuke/ https://cryo.unixvoid.com/upload
