* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #3f3f3f;
  padding-top: 3%;
  /*background-color: #d3d3d3;*/
  /*background-image: url("violet.jpg");*/
}

.bg {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(color.jpg);
}

.dropmsg {
  color: rgba(128, 128, 128, 0.8);
  /*color: rgba(0, 0, 0, 0.8);*/
}

.droppy {
  background: rgba(0, 0, 0, .16);
  /*background-color: transparent;*/
  border: 2px dashed rgba(128, 128, 128, 0.8) !important;
}

.nav {
  background: rgba(0, 0, 0, .16);
  /*background-color: transparent;*/
  border: 2px solid rgba(128, 128, 128, 0.8) !important;

  height: 40px;
  width: 700px;
  border-radius: 5px;
  min-height: 40px;
  color: gray;
  /*border: 2px dashed rgba(0, 0, 0, 0.3);*/
  /*background: #D3D3D3;*/
  /*transition: all 0.6s ease;*/
  padding: 10px 10px;
}

.mlink {
  transition: color .15s;
  text-decoration: none;
  font-weight: normal;
  color: gray;
  padding-right: 30px;
  padding-left: 30px;
}

.mlink:hover {
  background: rgba(0, 0, 0, .3) !important;
  /*background: #000000 !important;*/
  transition: all 0.6s ease !important;
  opacity: 3 !important;
  cursor: pointer !important;
}

.dropzone:hover {
  background: rgba(0, 0, 0, .3) !important;
  /*background: #000000 !important;*/
  transition: all 0.6s ease !important;
  opacity: 3 !important;
  cursor: pointer !important;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

/*p {
  margin-top: 200px;
}
p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #b83729;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p a:hover {
  background-color: #ab3326;
}*/

.footer {
  color: gray;
  font-size: 12px;
	border-top: 1px solid rgba(63, 63, 63, 0.19);
  position: absolute;
	right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #bfbfbf;*/
  background-color: rgba(0, 0, 0, .2) !important;
  text-align: center;
}

.flink {
  transition: color .15s;
  text-decoration: none;
  font-weight: normal;
  color: gray;
  padding-right: 8px;
}

.leftfoot {
	float: left;
	padding-left: 2%;
}

.rightfoot {
	float: right;
	padding-right: 2%;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #cecbcb;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 100ms;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: grey;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#logo {
  padding: 40px;
}

#writezone {
  color: #3f3f3f;
}

#writezone a {
  color: #3f3f3f;
  text-decoration: none;
  font-weight: normal;
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  height: 40px;
  line-height: 40px;
  width: 300px;
  color: #fff;
  font-size: 17px;
  padding: 11px 17px;
  border: none;
  background-color: #7e7e7e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #5604CC;
  outline: none;
}

.file-upload-button {
  height: 40px;
  line-height: 40px;
  line-height: 18px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: #6B05FF;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.file-upload-button:hover {
  background-color: #35027F;
}

.linkstyle input[type="text"] {
	padding: 10px;
	width: 325px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: #3f3f3f;
	background: #D3D3D3;
	transition: all 0.6s ease;
}
.linkstyle input[type="text"]:hover {
	background: #BDBDBD;
	transition: all 0.6s ease;
	opacity: 3;
	cursor: pointer;
}
.linkstyle input[type="text"]:focus,
.linkstyle input[type="text"].focus {
	background: #BDBDBD;
	opacity: 3;
}
